@model EventsViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Events"];
}

<div onload="getCities(); getVenues();" class="block1">
    <select name="cities" id="cities" multiple class="selectpicker">
    </select>

    <select name="venues" id="venues" multiple class="selectpicker" disabled>
    </select>
</div>

<div class="block2ForEvent">
    <h1 align="center" class="h11">@Localizer["List Of Events"]</h1>
    <div class="container-fluid pt-3">
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <div id="items">
        </div>
        <nav aria-label="...">
            <div id="paged">
            </div>
        </nav>
    </div>
</div>

@section Scripts
{
    <script>
        const role = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.UserRole));
    </script>
    <script src="/dist/event.entry.js" type="module" defer></script>
    <script src="/dist/modulewindow.entry.js" type="module" defer></script>    
}