@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Admin Page"];
}

<head>
    <style type="text/css">
        h1 {
            margin-bottom: 15px;
        }

        body {
            background: linear-gradient(to top right, #626262, #bbbbbb);
            min-height: 100%;
        }
    </style>
</head>

<h1 class="alert-warning" align="Center">!!!@Localizer["Warning, this is protected area"]!!!</h1>
