@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Role List</h2>

<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@Html.ActionLink("Add Role", "Create", "Roles", new { }, new { @class = "compItem" })
<a asp-action="UserList">List of Users</a>