@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Order";
}

<div>
    <h4>@Localizer["Your request has been sent! <br />Wait for the seller's response"].</h4>
    
    <a asp-action="Index" asp-controller="Event" class="btn btn-primary">Back to Event List</a>
</div>