@model Task1_Homework.Models.LoginViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Login"];
}

<head>
    <style type="text/css">
        h1 {
            margin-bottom: 15px;
        }

        body {
            background: linear-gradient(to top right, #626262, #bbbbbb);
            min-height: 100%;
        }

        .btn-primary {
            background-color: #a94800;
            border-color: white;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
        }

        .block1 {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 6px rgba(0,0,0,0.5);
        }
    </style>
</head>

<h1>@Localizer["Login"]</h1>
<hr />
<div class="row block1">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <strong><label asp-for="UserName" class="control-label"></label></strong>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
               <strong><label asp-for="Password" class="control-label"></label></strong>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
