@model TicketCreateViewModel

@{
    ViewData["Title"] = "CreateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateTicket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="block1 blockback">
            <form asp-action="CreateTicket">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.EventId)
                <div class="form-group">
                    <label asp-for="EventName" class="control-label"><strong>Event</strong></label>
                    @Model.EventName
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sale" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
